/**
 * Header Styles
 */

.view-heading {
  background-color: $view-heading-color-index;

  .view-component[data-view-component="navigation"] {
    position: relative;
    background-color: $view-navigation-color-index;

    @extend .z-depth-1;
  }

  .navigation {
    margin: 0px;

    &:hover {
      cursor: default;
    }

    li {
      display: inline-block;
      padding: 0px 30px;
      margin-bottom: 0px;
      @include transition(all, 0.3s);

      &:hover {
        cursor: pointer;
        background-color: $view-navigation-hover-color-index;
        @include transition(all, 0.3s);
      }

      &:active {
        background-color: $view-navigation-active-color-index;
        @include transition(all, 0.3s);
      }
    }
  }

  .view-title {
    padding: 20px 30px;

    p {
      font-size: 22px;
      margin: 0px;
    }
  }

  .view-nav-element {
    text-align: center;
    height: 18px;
    padding: 20px 0px;
    @include transition(all, 0.3s);
  }

  .nav-element.active {
    background-color: $view-navigation-active-color-index;
    @include transition(all, 0.3s);
  }

  .view-button-nav {
    font-size: 16px;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;

    &:focus {
      outline: none !important;
      border: none !important;
      color: $highlight-color;
    }
  }
}