/**
 * General Styles
 */


.toplevel_page_ecf {

  #wpcontent {
    padding-left: 0px;
  }

  #wpwrap {
    background-color: $view-main-color-index;
  }

  p {
    font-size: 16px;
  }

  a {
    &:focus, &:active {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

.col-full {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.row-full {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.view-block {
  background-color: white;
  padding: 20px;
  @extend .z-depth-1;
}

.view-main {
  margin: 20px 30px 30px 30px;

  @include breakpoint($breakpoint-sm) {
    margin: 20px 10px 30px 30px;
  }
}

.initialzr-grid {
  clear: both;
}

.initialzr-col {

  .view-block {
    padding: 20px !important;
  }
}

.view-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 20px;
  z-index: 1000;
  padding: 20px 0px;
  background-color: transparent !important;
  text-align: center;
}

.footer-controls {
  width: auto;
  height: 40px;
}

.view-page-part {
  display: inline-block;
}

.view-page-heading {
  font-size: 20px !important;
  margin-bottom: 20px;
}

.view-block-title.widget {
  .block-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .block-subtitle {
    font-size: 12px;
    margin-top: 0px;
  }
}

.view-block-title {
  margin-bottom: 20px;

  .block-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 0px;
  }

  .block-subtitle {
    font-size: 14px;
    margin-top: 0px;
  }
}

.view-block-section {
  margin-bottom: 20px;
}

.view-block-section-heading {
  font-size: 14px;
  font-weight: 600;
}

.view-field-title {
  font-weight: 600;
  margin-bottom: 0px;
}

.view-field-label {
  margin-top: 0px;
  font-size: 12px;
}

.view-block-label {
  width: 120px;
  display: inline-block;
}

.view-block-label-large {
  width: 180px;
  display: inline-block;
}

.custom-metafield {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;

  &:hover {
    select {
      cursor: pointer;
    }
    .default-select-icon {
      @include transition(all, 0.3s);
      background-color: $highlight-color-secondary-hover;
    }
  }

  &:last-child {
    margin-bottom: 0px;
  }

  input, textarea {
    font-size: 16px;
  }

  input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    height: 34px;
    width: 100%;
    margin: 0px;
    padding-left: 5px;
  }

  select {
    width: 100%;
    margin: 0px;
    min-width: auto;
    font-size: 16px;
    padding: 5px;
    height: auto;
  }

  input[type="checkbox"] {
    width: 17px;
    height: 17px;

    &:before {
      font: 200 22px/1 dashicons;
    }
  }

  textarea {
    width: 100%;
    margin: 0px;
    resize: none;
  }

  label {
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .description {
    display: block;
    font-size: 14px;
    text-transform: none;
    font-style: normal;
  }
}

.custom-metafield[data-metafield="checkbox"] {
  .description {
    display: inline-block;

    &:hover {
      cursor: pointer;
    }
  }
}

.custom-metafield.small {
  width: 100%;

  @include breakpoint($breakpoint-xs) {
    width: 33.33%;
  }
}

.custom-metafield.normal {
  width: 100%;

  @include breakpoint($breakpoint-xs) {
    width: 50%;
  }
}

.custom-metafield.large {
  width: 100%;

  @include breakpoint($breakpoint-xs) {
    width: 75%;
  }
}

.custom-metafield.auto {
  width: 100%;
}

.custom-metafield.hidden {
  display: none;
}

.gallery-image-link {
  img {
    height: 200px;
    display: block;
    margin-bottom: 10px;
  }
}

.image-upload-box.hidden {
  display: none;
}

.ksfc-textarea.small {
  height: 100px;
}

.ksfc-textarea.normal {
  height: 200px;
}

.ksfc-textarea.large {
  height: 300px;
}

.after-metafield {
  display: block;
}

.custom-metafield[data-metafield="gallery"] {

  .gallery-wrapper {
    position: relative;
    overflow: hidden;
    border-top: 1px solid $light-grey;
    padding-top: 5px;

    img {
      height: 140px;
      @extend .z-depth-1;
    }

    .slide {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .gallery-frame {
    overflow: hidden;

    ul {
      margin: 0px;
      height: auto;
      overflow: hidden;

      li {
        display: inline-block;
        margin: 0px;
      }
    }
  }
}

.custom-metafield[data-metafield="plain_text"] {
  a {
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: $highlight-color;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    @include transition(all, 0.3s);

    &:hover {
      background-color: $highlight-color-hover;
      @include transition(all, 0.3s);
    }

    &:active {
      color: $highlight-color;
      @include transition(all, 0.3s);
    }
  }

  .ribbon {
    display: inline-block;
    float: left;
    overflow: auto;
    padding: 10px 40px;
    margin: 20px;
    @extend .z-depth-1;
    @include transition(all, 0.3s);

    &:hover {
      @include transition(all, 0.3s);
      @extend .z-depth-2;
      cursor: pointer;
    }

    p {
      margin: 0px;
    }
  }
}

.view-heading {
  .nav-element.active a {
    color: #fff;
  }
}
.default-select-icon {
  position: absolute;
  right: 0px;
  top: 23px;
  width: 35px;
  height: 100%;
  pointer-events: none;
  background-color: $highlight-color-secondary;
  color: #fff;
  padding-top: 8px;
  text-align: center;
  @include transition(all, 0.3s);
}

.custom-metafield[data-metafield="dropdown_multiple"] {
  .multiple-list {
    max-height: 200px;
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
    overflow-y: scroll;

    li {
      display: block;
      padding: 10px;
      border-bottom: 1px solid #efefef;
      margin-bottom: 0px;
      overflow: auto;

      input[type="checkbox"] {
        position: relative;
        top: 7px;
        display: inline-block;
        float: left;
      }

      label {
        display: inline-block;
        position: relative;
        top: 2px;
        padding-left: 5px;
        float: left;
        width: auto;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.multiple-list.small {
  max-height: 100px;
}

.multiple-list.normal {
  max-height: 200px;
}

.multiple-list.large {
  max-height: 300px;
}

.trumbowyg-editor {
  font-size: 16px;
  line-height: 1;
}

.trumbowyg-box.active {
  outline: none;
  border-color: $highlight-color;
  box-shadow: 0 0 1px $highlight-color;
}

.trumbowyg-box.small, .trumbowyg-editor.small {
  height: 220px;

  .trumbowyg-editor, .trumbowyg-textarea {
    height: 145px !important;
    min-height: 145px;
  }
}

.trumbowyg-box.normal, .trumbowyg-editor.normal {
  height: 300px;

  .trumbowyg-editor, .trumbowyg-textarea {
    height: 225px !important;
    min-height: 225px;
  }
}

.trumbowyg-box.large, .trumbowyg-editor.large {
  height: 500px;

  .trumbowyg-editor, .trumbowyg-textarea {
    height: 425px !important;
    min-height: 425px;
  }
}

.trumbowyg-box.small .trumbowyg-editor, .trumbowyg-box.small .trumbowyg-textarea, .trumbowyg-editor.small .trumbowyg-editor, .trumbowyg-editor.small .trumbowyg-textarea {
  font-size: 16px !important;
}

.trumbowyg-editor, .trumbowyg-textarea {
  padding: 10px !important;
}

.custom-metafield[data-metafield="dropdown_single"] {
  select {
    min-width: 250px;
  }
}

.view-field-small {
  min-width: 150px;
}

.view-dropdown-multiple {
  width: 230px;
  height: 60px;
  overflow: auto;
  padding: 8px 10px 2px 10px;
  margin-bottom: 20px;
  border: 1px solid #DDD;
}

.view-field-hidden {
  display: none;
}

.view-block {
  margin: 0px 0px 20px 0px;
  clear: both;

  @include breakpoint($breakpoint-sm) {
    margin: 0px 20px 20px 0px;
  }
}

.view-block-count {
  font-size: 14px;
  font-weight: 600;
}

.textarea-hidden {
  display: none;
}

.highlighted {
  color: black;
  font-weight: 600;
}

.notifications {
  position: fixed;
  top: 45px;
  right: 30px;
}

.notification {
  width: 300px;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  z-index: 1000;
  @extend .z-depth-1;
  @include transition(all, 0.3s);

  &:hover {
    @include transition(all, 0.3s);
    @extend .z-depth-2;
  }

  p {
    margin: 0px;

    &:first-child {
      font-size: 22px;
      text-transform: uppercase;
    }

    &:last-child {
      font-size: 14px;
    }
  }

  .icon {
    position: relative;
    font-size: 48px;
    padding-left: 0px;
    padding-right: 5px;

    &:before {
      position: relative;
      left: -10px;
    }
  }
}

.notification.success {
  background-color: $success-color;
  color: $success-font-color;
}

.notification.warning {
  background-color: $warning-color;
  color: $warning-font-color;

  .icon {
    font-size: 28px;
    left: 5px;
    top: 4px;
  }
}

.notification.failure {
  background-color: $failure-color;
  color: $failure-font-color;
}

.notification.info {
  background-color: $info-color;
  color: $info-font-color;

  .icon {
    font-size: 28px;
    left: 5px;
    top: 4px;
  }
}

.custom-metafield[data-metafield="map"] {
  .metafield {
    width: 100%;
    height: 400px;
    border: 1px solid #efefef;
  }

  .map-controls {
    width: auto;
    left: -185px;
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    top: 80px;
    border-left: 1px solid #efefef;
    padding: 10px 20px;
    @extend .z-depth-1;
    @include transition(all, 0.3s);

    a {
      color: #414141;
    }

    input {
      display: block;
      margin-bottom: 10px;
    }
  }

  .map-controls.active {
    left: 0px;
    @include transition(all, 0.3s);
  }
}

.gallery-image-wrapper, .view-image-upload-box {
  position: relative;

  .gallery-image-controls {
    display: none;
    position:absolute;
    top: 0px;
    width: 100%;
    background-color: $highlight-color-hover;
    z-index: 10px;
  }

  .button-remove-gallery-image {
    float: right;
    font-size: 26px;
    color: $delete-color;
    @include transition(all, 0.3s);
  }
}

.gallery-image-wrapper {
  display: inline-block;
  margin-right: 10px;
}

.view-image-upload-box {
  width: 250px;
}

.gallery-image-link {
  height: auto;
  display: block;
  overflow: hidden;
}

.highlighted {
  color: black;
  font-weight: 600;
}

.active-plugin {
  @extend .post-legend;
  background-color: $active-plugin-color;
}

.disabled-plugin {
  @extend .post-legend;
  background-color: $nonactive-plugin-color;
}

.post-legend {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}

.chart-publish-posts {
  fill: $publish-posts-color;
}

.chart-draft-posts {
  fill: $draft-posts-color;
}

.chart-trash-posts {
  fill: $trash-posts-color;
}


.post-legend {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 2px;
}

.publish-posts {
  @extend .post-legend;
  background-color: $publish-posts-color;
}

.draft-posts {
  @extend .post-legend;
  background-color: $draft-posts-color;
}

.trash-posts {
  @extend .post-legend;
  background-color: $trash-posts-color;
}