/**
 * Style settings for module [theme_options]
 */


/** Breakpoints */
$breakpoint-xs: 640px;
$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;

/** View [index] */
$view-heading-color-index: #F7F7F7;
$view-navigation-color-index: #FFFFFF;
$view-navigation-hover-color-index: rgba(101, 108, 126, 0.4);
$view-navigation-active-color-index: rgba(0, 115, 170, 0.6);
$view-main-color-index: #efefef;
$view-footer-color-index: #efefef;
$footer-color: #23282d;

/** General */
$highlight-color: rgba(0, 115, 170, 0.6);
$highlight-color-secondary: #ddd;
$highlight-color-secondary-hover: rgba(0,115,170,1);
$highlight-color-hover: $view-navigation-hover-color-index;

/** Pie charts colors */
$publish-posts-color: #4db4f8;
$draft-posts-color: #d5e9b9;
$trash-posts-color: #fbc37a;

$delete-color: red;
$add-color: blue;
$caution-color: lightyellow;
$alert-color: red;

$active-plugin-color: #4db4f8;
$nonactive-plugin-color: #fbc37a;

$success-color: #d5e9b9;
$info-color: #d9edf7;
$warning-color: #fcf8e3;
$failure-color: #f2dede;

$success-font-color: #3c763d;
$info-font-color: #31708f;
$warning-font-color: #8a6d3b;
$failure-font-color: #a94442;

$light-grey: #efefef;